* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.login-container {
  height: 100vh;
  display: flex;
  background: linear-gradient(120deg, #0f172a, #1e293b);
  color: white;
}

/* ===== LADO BRAND ===== */

.login-brand {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  background: radial-gradient(circle at top, hsla(210, 1%, 70%, 0.133), transparent);
}

.brand-logo {
  width: 140px;
  margin-bottom: 30px;
}

.login-brand h1 {
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 15px;
}

.login-brand p {
  max-width: 400px;
  opacity: 0.8;
  line-height: 1.6;
}

/* ===== LOGIN PANEL ===== */

.login-panel {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GLASS EFFECT */
.login-box {
  width: 380px;
  padding: 45px;
  border-radius: 18px;

  background: rgba(128, 112, 112, 0.08);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 20px 60px rgba(0,0,0,0.4);
}

.login-box h2 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
}

/* INPUTS */

.input-group {
  display: flex;
  align-items: center;
  padding: 14px;
  margin-bottom: 15px;
  border-radius: 10px;
  background: rgba(190, 178, 178, 0.06);
  border: 1px solid rgba(92, 61, 61, 0.1);
}

.input-group input {
  background: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 10px;
  width: 100%;
  font-size: 15px;
}

.input-group input::placeholder {
  color: #cbd5e1;
}

/* BUTTON */

button {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  margin-top: 10px;

  background: linear-gradient(135deg, #2563eb, #3b82f6);
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 25px rgba(37,99,235,0.4);
}

/* ===== RESPONSIVO ===== */

@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }

  .login-brand {
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }

  .login-brand h1 {
    font-size: 28px;
  }

  .login-panel {
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .login-box {
    width: 100%;
    padding: 30px 20px;
  }

  .brand-logo {
    width: 100px;
  }
}